@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;600;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
html,body, #container{
    min-height: 100vh;
}
.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding:100px;
}
main{
    height:100vh;
    background: #D9D9D9;
}
.half{
    height:100vh;
}
.half:first-child {
    background: linear-gradient(#FFFBF1,#D9D9D9);
    background-size:100%;
}
section img
{   position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
section img#indo{
    opacity: 0.6;
    mix-blend-mode: screen;
}
section img#sen{
    position:absolute;
    left: 450px;
    top: 207px;
    width: 450px;
    height: 450px;
}
.cv{
    top: 390px;
    left: 240px;
    width: 155px;
    height: 155px;
    position:absolute;
}
.coding{
    top: 170px;
    left: 300px;
    width: 190px;
    height: 190px;
    position:absolute;
}
.stat{
    position:  absolute;
    top: 140px;
    left: 850px;
    width: 175px;
    height: 175px;
}
.piala{
    position:  absolute;
    top: 380px;
    left: 940px;
    width: 165px;
    height: 165px;
}

.imgcv data-tooltip{
    position: relative;
    z-index: 2;
    cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
[data-tooltip]:before {
    position: absolute;
    top: 175px;
    left: 670px;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 50px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: white;
    font-weight: 500;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
}
[data-tooltip]:after {
    position: absolute;
    top: 213px;
    left: 675px;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
#greeting{
    position: absolute;
    display:block;
    font-size: 1.5cm;
    font-weight: 900;
    color: hsla(0, 0%, 20%, 0.9);
    top: 45px;
    left: 325px;
}
.multiText{
    color:#09022B;
}
#contact{
    justify-content: center;
    text-align: center;
    padding: 40px;
    font-size: 0.5cm;
}
.links{
    position: fixed;
    top: 50%;
    left:15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.links a:hover{
    color:#09022B;
}
.links a{
    color: grey;
    display:block;
    text-align: center;
    transition: all 0.3s ease;
    padding: 10px;
    font-size:25px;
}
.half:nth-of-type(2) {
    height:90vh;
    background:linear-gradient(#D9D9D9,#FFFBF1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
}
.blog-card{
    position: absolute;
    height: 370px;
    width: 95%;
    max-width: 850px;
    margin: auto;
    border-radius: 25px;
    background: white;
    box-shadow: 0px 10px 50px  #09022B;
}
.inner-part{
    position: absolute;
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}
.inner-part .img{
    height: 260px;
    width: 260px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(252,56,56,.1);
}
.img img{
    height: 260px;
    width: 260px;
    position:absolute;
    top: 50px;
    left:25px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0;
    transition: .6s;
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3{
    opacity: 1;
    transition-delay: .2s;
}
.content{
    padding: 0 20px 0 35px;
    width: 530px;
    margin-left: 50px;
    opacity: 0;
    transition: .6s;
}
#imgTap:checked ~ .inner-part .content{
    display: none;
}
#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3{
    opacity: 1;
    margin-left: 0px;
    z-index: 100;
    transition-delay: .3s;
}
.content span{
    display: block;
    color: #7b7992;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500
}
.content .title{
    font-size: 30px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}
.content .text{
    color: #4e4a67;
    font-size: 19px;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
}
.content button{
    display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    background: linear-gradient(147deg, #D9D9D9 0%, #09022B 74%);
}
.content button:hover{
    background: linear-gradient(147deg, #D9D9D9 0%, #09022B 74%);
}
.sliders{
    position: absolute;
    bottom: 25px;
    left: 65%;
    transform: translateX(-50%);
    z-index: 12;
}
#imgTap:checked ~ .sliders{
    display: none;
}
.sliders .tap{
    position: relative;
    height: 10px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}
.sliders .tap:hover{
    background: #cccccc;
}
.sliders .tap:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: -100%;
    background: linear-gradient(147deg,#D9D9D9 0%, #09022B 74%);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: left;
}
input[type="radio"],
input[type="checkbox"]{
    display: none;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before{
    transform: scaleX(1);
    width: 100%;
}
.half:last-child {
    height:10vh;
    background: #FFFBF1;
    text-align: center;
    font-size: 0.1 px;
    padding: 20px;
}
